body {
    display:flex;
    flex-direction:column;
    margin: 3em;
    background-color: rgb(255, 189, 108);
    font-family: Arial, Helvetica, sans-serif;
}

#voltar {
    position: fixed;
    top: 1em;
    left: 1em;
    background-color: rgb(112, 12, 24);
    padding: 0.7em;
    border-radius: 0.6em;
    border: none;
}

#voltar a {
    color: rgb(255, 189, 108);
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 0;
    color: rgb(112, 12, 24);
}

main {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 1em;
    flex: 1;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 22em;  
    position: relative;
    border-radius: 1em;
    transition: all 0.3s ease;
}

img:hover {
  box-shadow: 0 10px 30px rgb(112, 12, 24, 0.5);
}