body {
    background-image: url('../medias/background.jpg');
    background-color: wheat;
    color: rgb(255, 189, 108);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 1em;

    /* transicao suave quando o fundo é removido/trocado */
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

a {
    text-decoration: none;
}

/* centraliza elementos por padrão */
ul, ol, h2 {
    margin: auto;
}

h2 {
    margin-bottom: 1em;
}

header img, nav img, article, aside, footer section, #web-badges-fundo {
    border-radius: 1em;
}

header {
    display: flex;
    height: 20em;
    position: relative;
    align-items: center;
    justify-content: center;
}

header h1 {
    position: absolute;
}

header img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

#mudarFundo {
    position: absolute;
    top: 1em;
    right: 1em;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em 0;
    width: 100%;
}

nav, article, aside, #contact {
    flex: 1 1 auto; /* cresce, encolhe e tem min-width auto */
}

nav {
    display: flex;
    width: 20em;
    height: 22em;
    position: relative;
    align-items: center;
    justify-content: center;
}

nav p {
    position: absolute;
    top: 1em;
    left: 2.1em;
}

nav img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

ul {
    position: absolute;
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 0.2em;
}

li a {
    display: inline-block;
    font-weight: bolder;
    color: rgb(255, 189, 108);
    transform: scale(1); 
    transition: transform 0.3s, color 0.3s ease;
}

li a:hover {
    transform: scale(1.1); /*deixa o elemento 10% maior*/

    /* deslocamento-x | deslocamento-y | raio-de-desfoque | cor */
    text-shadow: 2px 2px 5px black;
}

article {
    width: 55em;
    padding: 2em;
}

article, #contact {
    background-color: #1f0d03;
}

article a, hr {
    color: wheat;
}

ol {
    text-align: left;
}

aside {
    width: 20em;
    height: 22em;
    background-color: rgb(153, 15, 31);  
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

footer section {
    padding: 2em;
}

input, textarea {
    border: none;
    border-radius: 0.5em; 
    font-family: Arial, Helvetica, sans-serif; 
}

button {
    padding: 0.8em;  
    font-weight: bold;
    border: none;
    border-radius: 0.8em; 
}

/* tema dos botoes */
button, .tema-quente, .tema-frio {
    color: rgb(255, 189, 108);
    background-color: black;
}

button:hover, .tema-quente:hover {
    color: black;
    background-color: rgb(255, 189, 108);
}

.tema-frio:hover {
    color: black;
    background-color: rgb(240, 225, 200);
}

@media (max-width: 1550px) {
    nav {
        height: 10em;
    }
}

@media (max-width: 900px) {
    body {
        margin: 0.5em;
    }

    article {
        padding: 2em 1.1em;
    }
}
